<div class="header-container">
  <h1 class="header">Crazy Craig's</h1>
  <img class="header-logo" src="../assets/images/clone-hero-logo.png" />
</div>
<div class="search-tools">
  <input placeholder="Bee's in the Trap" value="" [(ngModel)]="searchTerm">
  <button (click)="conductSearchBySong()">song search</button>
  <button (click)="conductSearchByArtist()">artist search</button>
</div>
<div class="table-contianer">
  <table mat-table style="position: sticky" [dataSource]="searchList" matSort>
    <!-- User name Definition -->
    <ng-container matColumnDef="song">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by song"> Song </th>
      <td mat-cell *matCellDef="let song"> {{song.Name}} </td>
    </ng-container>

    <!-- Age Definition -->
    <ng-container matColumnDef="artist">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Artist </th>
      <td mat-cell *matCellDef="let song"> {{song.Artist}} </td>
    </ng-container>

    <!-- Title Definition -->
    <ng-container matColumnDef="album">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Album </th>
      <td mat-cell *matCellDef="let song"> {{song.Album}} </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> duration </th>
      <td mat-cell *matCellDef="let song"> {{song.songlength | millisecondsToMinutesAndSeconds}} </td>
    </ng-container>

    <!-- Header and Row Declarations -->
    <tr mat-header-row *matHeaderRowDef="['song', 'artist', 'album', 'duration'], sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: ['song', 'artist', 'album', 'duration']"></tr>
  </table>
</div>